@media screen and (min-width: 767px) {
  .pagination {
    padding-top: 39px;
    padding-bottom: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pagination {
    padding-top: 21px;
    padding-bottom: 14px;
  }
}
