@media screen and (min-width: 767px) {
  .movie_card {
    display: flex;
    flex-direction: row;
    background-color: rgba(229, 223, 238, 0.519);
    min-width: 454px;
    min-height: 283px;
    position: relative;
    height: 100%;
  }

  .card {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }

  .movie_image {
    width: 183px;
    height: 281px;
    align-self: center;
  }

  .description {
    padding: 12px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
  }

  .title_text {
    max-width: 200px;
    min-height: 44px;
    font-weight: 400;
    font-size: 20px;
  }

  .date {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
  }

  .tags {
    display: flex;
  }

  .rate_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(233, 209, 0);
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .content {
    flex-grow: 1;
    margin-bottom: 24px;
  }

  .footer {
    position: absolute;
    bottom: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movie_card {
    display: flex;
    flex-direction: row;
    background-color: rgba(229, 223, 238, 0.519);
  }

  .card {
    display: flex;
  }

  .movie_image {
    width: 60px;
    height: 91px;
    position: absolute;
    top: 9px;
    left: 12px;
  }

  .description {
    padding: 12px;
  }

  .header {
    margin-left: 83px;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  .title_text {
    font-size: 20px;
    font-weight: 400;
    width: 70%;
  }

  .date {
    margin-bottom: 9px;
  }

  .tags {
    margin-top: 9px;
    display: flex;
  }

  .rate_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(233, 209, 0);
    border-radius: 50%;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
}
