.movie-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 35px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  width: 454px;
  height: 281px;
  background: tomato;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  width: 454px;
  height: 281px;
  background: tomato;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
  width: 454px;
  height: 281px;
  background: tomato;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
  height: 281px;
  width: 454px;
  background: tomato;
}

.div5 {
  grid-area: 3 / 1 / 4 / 2;
  height: 281px;
  width: 454px;
  background: tomato;
}

.div6 {
  grid-area: 3 / 2 / 4 / 3;
  height: 281px;
  width: 454px;
  background: tomato;
}
